
@{
	ViewData["Title"] = "AdminLister";
	Layout = "~/Views/Shared/_WebLayout.cshtml";
	@using Microsoft.AspNetCore.Http
}


<div class="listingtable">
	<div class="bg-light mb-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>

						<li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Lister</span></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<section class="">
		<div class="container p-0">
			<div class="row no-gutters">
				<div class="col-md-12">
					<div class="section-title d-flex align-items-center m--tb-15">
						<h2>Operator Table</h2>
					</div>
					<div class="card hi-card">
						<div class="card-body">
							<div class="datatable-wrapper table-responsive">
								<a href="@Url.Action( "ListingTable","Listing")">
									<div id="show_add_view" class="add-new tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to add new Operators">
										<i class="fa fa-plus-circle"></i> Operator
									</div>
								</a>

								<table id="example" class="display display compact table table-striped mdtable">
									<thead>
										<tr>
											<th>Name</th>
											<th>Phone</th>
											<th>Property Count</th>
											<th>City</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Operator 1</td>
											<td>9898989898</td>
											<td>4</td>
											<td>chennai</td>
											<td>
												<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
													<i class="fas fa-check text-success"></i>
												</div>
											</td>
											<td class="p-0">
												<a class="btn btn-primary btn-sm-table" href="@Url.Action( "ListingTable","Listing")">
													<div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to View the Operator Detail">
														View Detail
													</div>
												</a>
											</td>
										</tr>
										<tr>
											<td>Operator 2</td>
											<td>9898989898</td>
											<td>10</td>
											<td>chennai</td>
											<td>
												<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
													<i class="fas fa-check text-success"></i>
												</div>
											</td>
											<td class="p-0">
												<a class="btn btn-primary btn-sm-table" href="@Url.Action( "ListingTable","Listing")">
													<div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to View the Operator Detail">
														View Detail
													</div>
												</a>
											</td>
										</tr>
										<tr>
											<td>Operator 3</td>
											<td>9898989898</td>
											<td>1</td>
											<td>chennai</td>
											<td>
												<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
													<i class="fas fa-times text-danger"></i>
												</div>
											</td>
											<td class="p-0">
												<a class="btn btn-primary btn-sm-table" href="@Url.Action( "ListingTable","Listing")">
													<div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to View the Operator Detail">
														View Detail
													</div>
												</a>
											</td>
										</tr>
										<tr>
											<td>Operator 4</td>
											<td>9898989898</td>
											<td>12</td>
											<td>chennai</td>
											<td>
												<div class="ml-auto d-flex align-items-center text-center md-crud-menu">
													<i class="fas fa-check text-success"></i>
												</div>
											</td>
											<td class="p-0">
												<a class="btn btn-primary btn-sm-table" href="@Url.Action( "ListingTable","Listing")">
													<div class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to View the Operator Detail">
														View Detail
													</div>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						@*<div class="table-disabled"> Fill the Information to enable listing</div>*@
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
